.vazia {
    width: 3.5vw;
    height: 3.5vh;
    background-color: black;
    border: 1px solid white;
    opacity: 0;
    margin: 1px; 
}

.campo {
    width: 3.5vw;
    height: 3.5vh;
    background-color: white;
    border: 1px solid black;
    margin: 1px;
    text-align: center;
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
}

.container {
    width: 80%;
    margin: 0 auto;
}